// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin_link {
  margin-left: 550px;
  margin-top: 194px;
  font-size: 22px;
}

.admin_link a,.register_user a {
  text-decoration: none;
}

.register_user {
  float: right;
  margin-top: -190px;
  margin-right: 40px;
}
